.box {
  width: 450px;
  height: 650px;
  border: solid 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgb(141, 139, 139);
  background-color: rgb(252, 250, 246);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}
.medium-text {
  font-size: 13px;
}

body {
  text-align: center;
  justify-content: center;
}
form {
  border-color: black;
  position: relative;
}
h1 {
  font-size: 30px;
}
input {
  border-color: black;
}
img {
  width: 450px;
  height: 300px;
}
.contents {
  text-align: center;
}
/* *은 전부다 적용할 때 사용*/
option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* 옵션 텍스트 중앙 정렬 */
}
select option {
  text-align: center; /* 옵션 텍스트 중앙 정렬 */
}
* {
  text-align: center;
}
select {
  text-align: center; /* 기본 선택된 값 중앙 정렬 */
  text-align-last: center; /* 옵션 리스트에서 기본값도 중앙 정렬 (브라우저마다 다름) */
  width: 30%; /* 선택 박스의 너비를 100%로 설정하여 박스 내에서 중앙 정렬이 눈에 더 띄게 */
}
