@charset "utf-8";

*{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
form{
    margin: auto;
    border: 1px solid lightgrey;
    width:500px;
    height: 700px;
    box-shadow: 3px 3px 6px lightgrey;
    background-color: rgb(245, 244, 244);
    border-radius: 8px;
}
.watermelon{
    width: 300px;
    margin-top: 10px;
}
